/* BODY */
div.dialog-off-canvas-main-canvas{
  background-color:#161A1D;
}

/* HEADER REGION */
.page-header{
  background-color: #A4161A;
  padding: 20px;
}

.pt-logo-resize{
  height:80px;
  padding-right: 15px;
}

.pt-site-name{
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #F5F3F4;
  padding-right: 10px;
}

.pt-site-name:hover{
  color: #0B090A;
  cursor: pointer;
}

.pt-nav-link{
  text-decoration: none;
  color: #F5F3F4;
  padding-right: 15px;
  font-size: 18px;
}
.pt-nav-link:hover{
  color: #0B090A;
  cursor: pointer;
}

.pt-menu-block{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/* BREADCRUMB */
#block-mentoring-breadcrumbs{
  background-color: #D3D3D3;
}

nav.breadcrumb > ol > li > a{
  text-decoration: none;
  color: #0B090A;
  padding: 10px
}

nav.breadcrumb > ol > li > a:hover{
  cursor: pointer;
  color: #A4161A;
}

/* User login menu */
nav#block-mentoring-account-menu {
  justify-self:end;
}

/* Search bar*/
form#search-block-form > div > input[type=search]{
  background-color: #D3D3D3;
  border-radius: 10px;
  border: 2px solid black;
}

form#search-block-form > div > input[type=submit]{
  background-color: #161A1D;
  color:white;
  border-radius: 10px;
  border: 2px solid gray;
}

/* ACTIONS MENU */
ul.tabs {
  margin: 0 0 1em;
  padding: 2px;
  list-style: none;
}

ul.tabs >li > a {
  text-decoration: none;
  color: #A4161A;
  background-color: #D3D3D3;
  border-radius: 14px;
}

.tabs a.is-active {
  background-color: #A4161A;
  color: white;
}

/* SIDE BAR */
.layout-sidebar-first {
  background-color: #A4161A;
  border: 2px white dashed;
  margin-bottom: auto;
  border-radius: 10px;
}

#block-views-block-movies-block-1 > h2{
  color: white;
  text-align: center;
}

.views-row {
  text-align: -webkit-center;
}

.pt-aside-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  background-color: #D3D3D3;
  width: 90%;
}

.pt-aside-view-title{
  text-decoration: none;
  color: #161A1D;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline 2px #660708;
  text-align: center;
}

.pt-aside-view-title:hover{
  color: #BA181B;
  text-decoration: underline 2px black;
}

/* FOOTER REGION */
.pt-footer{
  background-color: #A4161A;
  padding: 20px;

}

div.region-footer-first{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

img[alt="site-logo"]{
  height:80px;
  width: auto;
}


/* NODE */
h1.page-title{
  color:#A4161A;
}

.pt-node-title{
  color: #A4161A;
}

.pt-node-info{
  color: #F5F3F4;
}

.pt-node-image {
  background-color: #F5F3F4;
  align-self: center;
  padding: 12px;
  border: 2px #A4161A dashed;
}

div.field__label{
  color: #A4161A;
  font-size: 18px;
}

div.field__items{
  display: flex;
}

div.field__item{
  color: #F5F3F4;
}

div.field__item > a{
  text-decoration: none;
  padding-right: 10px;
  color: #F5F3F4;
}

div.field__item > a:hover{
  color: #A4161A;
}

/* SERIES EPISODES LIST */
td.views-field > a{
  text-decoration: none;
  color: #D3D3D3;
}

td.views-field > a:hover{
  color: #A4161A;
}

div.views-element-container > h2{
  color: #A4161A;
}

span.badge{
  width: 45px;
  position:absolute;
  bottom: 5px;
  right:5px;
  background-color: #A4161A;
}

/* Views */
.pt-content-card{
  width: 160px;
  height: auto;
  display: flex;
  justify-content: center;
}

article.card ~ span{
  font-size: 20px;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: #A4161A;
  width: 160px;
  border: 2px solid white;
  border-radius: 8px;
  padding: 7px;
  margin-top: 7px;
}

.pt-actor-teaser{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 1px;
}

div.pt-actor-teaser > a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #A4161A;
  border: 2px solid #D3D3D3;
  border-radius: 8px;
  padding: 5px;
  margin-left: 12px;
}

/* OTHER */
nav.pager > ul > li > a{
  text-decoration: none;
  color: #A4161A;
}
#block-mentoring-account-menu{
  justify-self: flex-end;
}
#block-mentoring-account-menu{
  justify-self: flex-end;
}

.carousel-item{
  text-align: -webkit-center;
}

.carousel {
  position: relative;
  border: 2px #A4161A solid;
  margin: 18px 0px;
}